/* custom font family */
@font-face {
    font-family: 'VT323';
    src: url('../fonts/VT323-Regular.ttf');
  }
  @font-face {
    font-family: 'MavenPro';
    src: url('../fonts/MavenPro-VariableFont_wght.ttf');
  }

/* root values */
:root {
    --primary-color: #0e0f0f;
    --secondary-color: #3d3d3d;
    --accent-color: #DAA520;
    --accent-secondary-color:  #9E7B9B;
    --main-color:#fff;
    --font-primary:'VT323';
    --font-secondary:'MavenPro';
}

  

  html{
    font-size: 16px;
  }
  body{
    font-family: var(--font-primary), monospace;
    font-size: 2rem;
    /* background gradient */
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  }

#title {
    color : var(--accent-color);
    font-weight: bold;
}

/* flex container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100vh;
}

.row{
    /* transparent background */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: 2px 2px 10px rgba(184, 176, 64, 0.89);
    margin: .03rem 1rem;
    border: .20rem dotted var(--accent-color);
    padding: .4rem;
    align-items: center;
    justify-content: space-around;
}

/* style buttons  */
.btn {
    border-radius: 5px;
    color: var(--accent-color);
    font-family: var(--font-primary);
    font-size: 1.2rem;
    padding:.4rem;
    margin:.2rem;
    cursor: pointer;
    transition: all.2s ease-in-out;
    box-shadow: 2px 2px 3px rgba(77, 76, 76, 0.89);
}

.btn:hover {
    background-color: var(--accent-color);
    color: white;
    border: .20rem solid var(--accent-color);
}


/* value */
#value{
    font-family: var(--font-primary);
    font-size: 8rem;
    color: var(--main-color);
    text-shadow: 1px 1px 5px rgba(184, 176, 64, 0.89);
}